@import "tailwindcss";
::-webkit-scrollbar{
  display: none;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}



@theme {
  --color-back-main: #efefef; 
}
#root{
    height: 100vh;
    width: 100vw;
}

